<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="DEV_HOME" value="D:/ESEO_API_Rest_2019/logs" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="LOG-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/TP_ESEO.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level (%logger{36}.%line\) : %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/archived/TP_ESEO.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>
	
	<!--<logger name="org.springframework.web.filter.CommonsRequestLoggingFilter">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT"/>
	</logger>
	
	<logger name="org.apache.http">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT"/>
	</logger>
	<logger name="org.springframework.web">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT"/>
	</logger>
	
	<logger name="org.springframework.web.client.RestTemplate">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT"/>
	</logger>-->
	<logger name="org.apache.coyote.http11">
		<level value="INFO" />
	</logger>
	
	
	<!-- Strictly speaking, the level attribute is not necessary since -->
	<!-- the level of the root level is set to DEBUG by default. -->
	<root level="INFO">
		<appender-ref ref="LOG-FILE" />
	</root>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>